<ul id="songList">
  <% @artist.songs.each do |song| %>
    <li class="song <%= song.selected? ? "success" : "" %>" data-id="<%= song.id %>">
      <input name="song[<%= song.id %>]" id="song-<%= song.id %>" type="checkbox" value="1" <%= song.selected? ? 'checked="checked"' : '' %>/>
      <label for="song-<%= song.id %>"><%= song.title %></label>
    </li>
  <% end %>
</ul>
<div>
  <a href="#" id="deleteSelectedSongs">Delete</a>
</div>
